:root {
    --primary: #4361ee;
    --secondary: #3a0ca3;
    --success: #4cc9f0;
    --light: #f8f9fa;
    --dark: #212529;
    --accent: #7209b7;
}

body {
    background: linear-gradient(135deg, #f5f7fa 0%, #c3cfe2 100%);
    min-height: 100vh;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.container {
    background-color: white;
    border-radius: 20px;
    max-width: 100%;
    overflow-x: auto;
}

.table-responsive {
    overflow-x: auto;
    -webkit-overflow-scrolling: touch;
}

.table {
    min-width: 600px;

}

.date {
    color: #757575ff;
    font-size: 12px;
}

td {
    max-width: 200px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.pagination {
    display: flex;
    list-style: none;
    justify-content: flex-end;
    padding-left: 0;
}

.page-item {
    margin: 0 4px;
}

.page-link {
    display: block;
    padding: 8px 12px;
    color: #007bff;
    text-decoration: none;
    border: 1px solid #dee2e6;
    border-radius: 4px;
    transition: background-color 0.2s ease;
}

.page-item.active .page-link {
    background-color: #007bff;
    color: white;
    border-color: #007bff;
    cursor: default;
}

.page-item.disabled .page-link {
    color: #6c757d;
    pointer-events: none;
    background-color: #f8f9fa;
    border-color: #dee2e6;
    cursor: default;
}

.page-link:hover {
    background-color: #e9ecef;
}

.disabled:hover {
    cursor: not-allowed;
}

.pagination-info {
    font-size: 14px;
    color: #333;
}


@media (max-width: 768px) {
    .desc-size {
        max-width: 100% !important;
    }

    .card-body {
        padding: 10px;
    }

    .table th,
    .table td {
        font-size: 14px;
        white-space: nowrap;
    }
}

#card-body {
    border-radius: 15px;
}