#box-detail {
    color: black;
}

#box {
    border-radius: 15px;
}

.not-data {
    background-color: #ffebebff;
    border-radius: 8px;
}

.detail-box:hover {
    transform: scale(1.05);
    box-shadow: 0 6px 18px rgba(0, 119, 204, 0.3);
    background: linear-gradient(135deg, #e0f7ff, #cceeff);
}

.wishlist-btn {
    transition: all 0.3s ease;
}

.wishlist-btn:hover {
    transform: scale(1.05);
}

.main-image-container {
    position: relative;
    width: 350px;
    height: 350px;
    overflow: hidden;
    border-radius: 10px;
    border: 1px solid #ddd;
    cursor: zoom-in;
    margin: 0 auto;
    padding: 5px;
}

.main-image {
    width: 100%;
    height: 100%;
    object-fit: contain;
    transition: transform 0.3s ease;
}

.zoom-floating {
    position: fixed;
    top: 100px;
    right: 50px;
    width: 700px;
    height: 83%;
    background-repeat: no-repeat;
    background-position: center;
    background-size: 180%;
    border: 2px solid #ccc;
    border-radius: 10px;
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.3);
    display: none;
    z-index: 9999;
    background-color: #fff;
}

.thumb-row {
    display: flex;
    justify-content: center;
    gap: 8px;
    margin-top: 10px;
    flex-wrap: wrap;
}

.thumb-row img {
    width: 70px;
    height: 70px;
    object-fit: cover;
    border-radius: 6px;
    cursor: pointer;
    border: 2px solid transparent;
    transition: 0.3s;
}

.thumb-row img:hover {
    border-color: #0077cc;
    transform: scale(1.05);
}

.col-md-8.details-box {
    padding-left: 40px;
}

@media (max-width: 768px) {
    .col-md-8.details-box {
        padding-left: 15px;
        margin-top: 20px;
    }

    .zoom-floating {
        display: none !important;
    }
}